<ion-view view-title="Stores">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFood">  
        <img src="./img/foodemporium.jpg" width="40px">
      <h2>The Food Emporium</h2>
    </ion-toggle>
  

     <ion-toggle  ng-model="settings.enableWilliams">
      <img src="./img/MortonWilliams.jpg" width="40px">
        <H2>Morton Williams </H2>   
        </ion-toggle>

       <ion-toggle  ng-model="settings.enableTrader">
       <img src="./img/TradersJoe.jpg" width="40px">
        <H2>Trader Joe's</H2>  
       </ion-toggle>

       <ion-toggle  ng-model="settings.enableWFM">
       <img src="./img/WholeFood.jpg" width="40px">
       <H2>Whole Foods Market</H2>  
    </ion-toggle>

       <ion-toggle  ng-model="settings.enableGarden">
       <img src="./img/GardenEden.jpg" width="40px">
        <H2>Garden of Eden Gourmet  </H2>  
    </ion-toggle>

       <ion-toggle  ng-model="settings.enableFairway">
        <img src="./img/Fairways.jpg" width="40px">
        <H2>Fairway Market </H2>  
    </ion-toggle>




    </ion-list>
  </ion-content>
</ion-view>
