<ion-view view-title="Ajoure">

<ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="padding">

<center>  <img src="./img/AJLOGO.png" width="200px" > </center>

    
 
    <div class="list card">
      <div class="item item-divider">Updates</div>
      <div class="item item-body">
        <div>
          You have <b>4</b> items expiring tomorrow in  <b>sector 3</b>.
        </div>
      </div>
    </div>

       <div class="list card">
      <div class="item item-divider">Suggested recipes</div>
      <div class="item item-body">
        <div>
          You can go HERE to have new cool recipes!
        </div>
      </div>
    </div>

<div class="list card">
      <div class="item item-divider">Buy list</div>
      <div class="item item-body">
        <div>
          You have <b>5</b> items to buy for the end of the week.
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
