<ion-view view-title="My items">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="ref in refs" type="item-text-wrap" href="#/tab/refs/{{ref.id}}">
        <img ng-src="{{ref.face}}">
        <h2>{{ref.name}}</h2>
        <p>{{ref.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(ref)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
