<ion-view view-title="AJoure">

<ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="padding">

<center>  <img src="./img/AJLOGO.png" width="200px" > </center>

    
 
    <div class="list card">
      <div class="item  bar bar-header bar-positive ">Updates</div>
      <div class="item item-body">
        <div>
          You have <b>4</b> items to buy by tomorrow.
        </div>
      </div>
    </div>

       <!-- <div class="list card">
      <div class="item item-divider">Suggested recipes</div>
      <div class="item item-body">
        <div>
          You can go HERE to have new cool recipes!
        </div>
      </div>
    </div> -->

 <div class="list card" style="border: 3px solid red" > 
     <center> <div class="item  bar bar-header bar-assertive ">Buy List</div> </center>

    
<ul class="list list-insert">
    <li class="item">Lactaid, Milk, 1/2 gallon at Whole Foods
    </li>
 <li class="item">
      Total, Cereal, size 46 oz. at Trader Joe's
    </li>
 <li class="item">
      Dannon, Low Fat Yogurt, size 1 qt. at Whole Foods
    </li>
 <li class="item">
      Pepsi, 2 L. at Fairway Market
    </li>
     <li class="item">
      ...
    </li>

</ul>


      </div>

  </ion-content>
</ion-view>
